*, *::after, *::before {
  box-sizing: border-box;
}
h1, h3 {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;

}

body {
    background-color: #E8E8E8;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    width: 65vh;
}

tr {
    height: 7.5vh;
}

tr:nth-child(even){
    height:1vh;
}

td:nth-of-type(2n){
    width: 1vh;
}


#reset {
    display: none;
}